<h1>Welcome!</h1>
<h2>Random Paragraph <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Nulla in lobortis tortor. Curabitur ac sapien sapien. Ut fringilla risus at mollis lacinia.
Quisque finibus, nisl sed tincidunt auctor, justo nunc finibus est, vitae viverra orci lectus eget mauris.
Pellentesque non leo porta, mollis neque in, suscipit felis. Sed interdum, purus egestas dictum malesuada, 
tortor tortor sodales orci, at efficitur ipsum tellus non dolor. Nam ultrices, quam sit amet cursus fermentum,
ipsum dolor porta ante, vitae dignissim lorem nulla eu mauris. Nullam augue odio, dictum eget neque at, malesuada
interdum ex. Mauris pretium, lectus non bibendum maximus, ex enim elementum nulla, vel aliquam ligula eros eu magna.
<%= link_to "test", "http://www.naver.com" %> </h2>

