<div class="jumbotron">
  <h2>Best way to find reviews on local restaurants.</h2>
  <h3>Explore the favorite dinners.<br>
    Leave reviews and ratings </h3>
</div>

<%= render 'index' %>

<% if user_signed_in? && current_user.admin? %>
<br>
<%= link_to 'New Restaurant', new_restaurant_path, class:"btn btn-link" %>
<br>
<%end%>

